// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
  height: 42px; 
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.form-horizontal .control-label {
	line-height: 38px;
}