.nr_parallax-bg
	background-color: #4A4A4A
	color: #fff
	font-size: 18px
	margin: 20px 0
	padding: 20px
	background-size: 101%
	background-position: center center
	background-attachment: fixed
	text-shadow: 0 2px 5px #000