.staffer
	display: flex
	justify-content: flex-start
	align-items: center
	margin-bottom: 20px
	&_image
		+aspect-ratio(1, 1)
		flex-shrink: 0
		width: 32%;
		margin-right: 20px
		border-radius: 50%
		overflow: hidden
		> .content
			background-repeat: none
			background-position: center center
			background-size: cover
	&_info